.list {
    padding: 10px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

}

.btn-list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 15px;
    padding-right: auto;
}